/* Estilos globales */
html {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
.fl-scrolly-step {
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: white !important;
  max-width: 400px !important;
}
